body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0; 
}
img {
    display: block;
}

main {
flex-grow: 1;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;  
}

.header {
    border-bottom: 1px solid #e7e9fc;  
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.nav { 
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.studio {
    color: #404bbf;
}

.studio::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    display: block;
    margin-top: 20px;
    position: absolute;

}

.address {
    font-style: normal;   
}

.address-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/hero-image.jpg);
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0;  
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.hero-cont {
     display: flex;
     flex-direction: column;
     gap: 48px;
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
}

.button-hero {
    cursor: pointer;
    font-family: "Roboto",
        sans-serif;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
}

.hero button:hover,
.hero button:focus {
    background-color: #404bbf;

}

.advantages {
    padding: 120px 0;
}

.title-adv {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adv-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}

.adv-card {
    flex-basis: calc((100% - 72px) / 4);
}

.adv-img-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    height: 112px;
    margin-bottom: 8px;
}     

.adv-img {
    width: 64px;
    height: 64px;
}

.name-adv {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team {
    background-color: #f4f4fd;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 100%;
    padding: 120px 0;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-menu {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
    gap: 24px;
}
.team-list {
    background-color: #FFFFFF; 
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
      
}
.team-list:hover .social-media-link-a,
.team-list:focus .social-media-link-a {
    background-color: #404bbf;
}

.social-media-link-a:focus {
    background-color: #404bbf;
}

.team-card {
    padding: 32px 0 32px;
       
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-desc {
    text-align: center;
    margin-bottom: 8px;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;  
}

.social-media-link {
    width: 40px;
    height: 40px;
    position: relative;
}

.social-media-link-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team {
    fill: #f4f4fd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-team {
    fill: #f4f4fd;;
    z-index: 1;
    width: 16px;
    height: 16px;
}

.portfolio {
    color: #2e2f42;
    padding: 120px 0 120px 0;

}

.title-port {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.port-menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-basis: calc((100% - 48px) / 3);  
}

.port-box {
    width: 360px;
    height: 420px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-box-img {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
}
.overlay {
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.port-box:hover .overlay,
.port-box:focus .overlay {
    transform: translateY(0%);
    
}

.port-box:hover,
.port-box:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.port-card {
    padding: 32px 16px 32px 16px;
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.port-name {
    margin-bottom: 8px;
}

.footer {
    background-color: #2e2f42;
    width: 100%;
    padding: 100px 0;
}

.footer-cont {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-text {
    margin-right: 120px
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer .logo .logo-studio {
    color: #f4f4fd;
    line-height: 1.17;
}


.footer-social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    }


.icon-footer {
    fill: #f4f4fd;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.footer-social-media {
    margin-left: 0;
    gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}